body {
    background: linear-gradient(#0007, #0000), #123;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .hidden {
    display: none;
  }
  
  #error-text {
    font-size: 2rem;
    color: red;
  }
  
  #birthday-text {
    font-size: 3rem;
    color: white;
  }
  
  #fireworks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  @keyframes firework {
    0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
  
  .firework,
  .firework::before,
  .firework::after {
    --initialSize: 0.5vmin;
    --finalSize: 45vmin;
    --particleSize: 0.2vmin;
    --color1: yellow;
    --color2: khaki;
    --color3: white;
    --color4: lime;
    --color5: gold;
    --color6: mediumseagreen;
    --y: -30vmin;
    --x: -50%;
    --initialY: 60vmin;
    content: "";
    animation: firework 2s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background: radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%;
  }
  
  #slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
  }
  
  .slider {
    display: flex;
    overflow: hidden;
    position: relative;
  }
  
  .slide {
    display: none;
  }
  
  .slide img {
    max-width: 100%;
    height: auto;
  }
  
  .text {
    font-size: 1.5rem;
    color: white;
  }
  
  .button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .arrow {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }
  
  #left-arrow {
    left: 0;
  }
  
  #right-arrow {
    right: 0;
  }
  